@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

/* For Firefox */
/* Note: Firefox supports scrollbar styling using scrollbar-color and scrollbar-width properties */
/* The following styles are for older versions of Firefox that do not support the new properties */

/* Color of the thumb */
scrollbar[orient="vertical"] {
  scrollbar-color: #3498db #f1f1f1;
}

/* Width of the scrollbar */
scrollbar[orient="vertical"] thumb {
  scrollbar-width: thin;
}

/* Color of the track */
scrollbar[orient="vertical"] track {
  scrollbar-width: thin;
  background-color: #f1f1f1;
}

/* Rounded corners of the thumb */
scrollbar[orient="vertical"] thumb:hover {
  background-color: #2184b1;
}


/* YourStyles.css or in your component's style section */
.blur {
  position: relative;
}

.blur::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit; /* Inherit the background color from the parent element */
  backdrop-filter: 
    var(--tw-backdrop-blur) 
    var(--tw-backdrop-brightness) 
    var(--tw-backdrop-contrast) 
    var(--tw-backdrop-grayscale) 
    var(--tw-backdrop-hue-rotate) 
    var(--tw-backdrop-invert) 
    var(--tw-backdrop-opacity) 
    var(--tw-backdrop-saturate) 
    var(--tw-backdrop-sepia);
  z-index: -1; /* Place the pseudo-element behind the content */
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 17, 139, 0.5); /* Adjust the color and opacity as needed */
  z-index: 99; /* Adjust the z-index to ensure it's above other content */
}

.desktop-nav {
  position: fixed;
  top: 0;
  left: 100px;
  width: 100%;
  background-color: rgba(55, 17, 139, 0.5); /* Adjust the color and opacity as needed */
  z-index: 1000;
}
@media (max-width: 768px) {
  .desktop-nav {
    left: 0px;
    width: 50vh;
  }
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #060918;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  color: black;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/* Styling */
.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
  margin-top: 150px;
  padding-bottom: 200px;
}

.slider::before,
.slider::after {
  /* background: linear-gradient(to right, rgb(31, 26, 26) 0%, rgba(255, 255, 255, 0) 100%); */
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(550px * 14);
  color: white;
  gap: 100px;
}
.slide-track:hover{
  animation-play-state: paused;
}

.slide {
  height: 220px;
  width: 450px;
  border: 2px solid gray;
  margin-top: 40px;
  border-radius: 20px;
  padding: 30px 50px;
}
@media (max-width: 768px) {
  .slide-track {
    width: calc(100% * 14);
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* white-space: nowrap; */
  }

  .slide {
    width: 80%; /* Adjust width for smaller screens */
    max-width: 400px;
    margin: 40px auto; /* Center the slides */
    padding: 20px;
  }
}